Python>=3.4
certifi==2020.6.20
cycler==0.10.0
click==7.1.2
Flask==1.1.2
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
MarkupSafe==1.1.1
Werkzeug==1.0.1
numpy>=1.8.2
scipy>=0.13.3 
scikit-learn>=0.18.2
matplotlib>=3.4.1
pandas>=1.2.0
wincertstore==0.2
Pillow==8.1.0
python-dateutil==2.8.1
pytz==2020.5
six==1.15.0
plotly==4.14.1
seaborn==0.11.1
sklearn==0.0
